*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(background.svg)
}

.escolher-jogo{
    visibility: visible;
    margin-top: 5%;
    padding: 30px;
    border-radius: 30px;
    cursor: crosshair;
    transition: all 0.9s ease-in-out;
    background: gold;
    font-family: "Teachers", sans-serif;
    letter-spacing:1px;
    font-weight:900;
    

}

.escolher-jogo-div{
    visibility: visible;
    margin-top: 50%;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}

button{
    cursor: pointer;
    height: 60%;
    width: 45%;
    outline: none;
    border: black solid 3px;
    border-radius: 15px;
    background: rgb(88, 88, 88);
    transition: all 0.3s ease-in-out;
    font-family: "Commissioner", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing:3px;
}
button:hover{
    background: rgb(176, 176, 176);

}
button:active{
    box-shadow: inset black 2px 2px 3px;
}
.mega-sena-gerar,.loto-facil-gerar{
    width:100%;
    display:flex;
    height:15vh;
    justify-content:center;
    transform: translateY(0px);
    visibility: hidden;
    transition: all 0.9s ease-in-out;
}
.mega-sena-outputs{
    display: flex;
    visibility: hidden;
    transform: translateY(0px);
    transition: all 0.9s ease-in-out;
    width: 100%;
}
.mega-sena-outputs input{
    display: flex;
    flex-direction: column;
    max-width:80%;
    margin-left:10px;
    height:5vh;
}
.loto-facil-outputs{
    transition: all 0.9s ease-in-out;
    display: flex;
    flex-direction:column;
    visibility: hidden;
    transform: translateY(0px);
    width: 85%;
    justify-content: space-evenly;
}
input{
    outline: none;
    border: solid 2px black;
    border-radius: 8px;
    height: 30px;
    min-width: 15%;
    text-align:center;
    font-weight:800;
    font-size:3.6vw;

}
.loto-facil-outputs input{
        font-size:3.8vw;
        height:6vh;
}
.voltar{
     height: 8vh;
     transition: all 0.9s ease-in-out;
     transform: translateY(0px);
     visibility:hidden;
    
}